
body {
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  overflow-x: hidden;
  /*width: 300px;*/
}

.dino-form-drag-container {
  height: 500px;
  overflow: auto;
}
/*footer {*/
  /*display: none;*/
/*}*/

.dino-form-group-actions {
  display: flex;
}
.dino-form-group-actions > * {
  margin-right: 15px;
}

.dino-form-group-action-add:before {
  content: 'Add';
}

.dino-form-group-action-delete:before {
  content: 'Delete';
}

.dino-form-group-action-move-up:before {
  content: 'moveUp';
}

.dino-form-group-action-move-down:before {
  content: 'moveDown';
}

.dino-form-group-action-move-to-first:before {
  content: 'moveToFirst';
}
.dino-form-group-action-move-to-last:before {
  content: 'moveToLast';
}


.dino-form-group-wrap {
  padding-left: 30px;
  margin-bottom: 20px;
  border-left: 1px solid black;
}
.dino-form-group-item-wrap {
  /*margin-bottom: 20px;*/
  border: 1px solid black;
  background: beige;
  position: relative;
  /*overflow: auto;*/
}

.project-forms  .dino-form-group-item-wrap {
  height: 400px;
}
